
.form-element {
  margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input, select {
    padding: 5px;
    margin: 5px 0px 5px 0px;
    font-size: 14px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-element-error {
  margin: 5px 0px 5px 0px;
  color: red;
}

button {
  padding: 5px;
  font-size: 1em;
}